body{
  font-family: Calibri;
}

h1{
  font-size: 300%;
  margin-left: 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
}

li a {
  display: block;
  color: #000;
  padding: 8px 0px 8px 32px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color: white;
  transition: all .3s ease-in-out;
}

table{
  font-size: 200%;
  margin: 0 auto;
  margin-top:30px;
  margin-bottom: 100px;
  border-collapse: collapse
}

td, th {
  padding: 5px 20px;

}

td{
  border:1px solid black;
  padding: 10px 20px 10px 20px
}

th{
    font-weight: bold;
}

.titreMenu{
  font-size: 130%;
  padding: 8px 16px;
  font-weight: bold;
  cursor: default;
}
