body{
  font-family: Calibri;
}

h1{
  font-size: 300%;
}

h2{
  font-size: 130%;
  padding: 8px 16px;
  font-weight: bold;
  cursor: default;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
}

li a {
  display: block;
  color: #000;
  padding: 8px 0px 8px 32px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color: white;
  transition: all .3s ease-in-out;
}

table{
  font-size: 200%;
  margin: 0 auto;
  margin-top:30px;
  margin-bottom: 100px;
  border-collapse: collapse
}

td, th {
  padding: 5px 20px;
}

td{
  border:1px solid black;
  padding: 10px 20px 10px 20px
}

th{
    font-weight: bold;
}

.button{
  padding:6px;
  margin: 6px;
	font:bold 13px Calibri;
	background:white;
	color:black;
	border-radius:2px;
  border-style: solid;
  border-color: black;
}

.button:hover {

  background-color: black;
  color: white;
  transition: all .3s ease-in-out;
}

.grosButtonInverse{
  padding:6px;
  margin: 6px;
	font:bold 23px Calibri;
	background:black;
	color:white;
	border-radius:2px;
  border-style: solid;
  border-color: white;
  display: inline-block;
}

.grosButtonInverse:hover {

  background-color: white;
  color: black;
  transition: all .3s ease-in-out;
}

.header{
  padding: 3%;
  color: #ffffff;
  background-color: #000000;
}

.titrePrincipal{
  width: 60%;
  display: inline-block;
}

.messageConnexion{
  width: 20%;
  display: inline-block;
  text-align: right;
}

.texte{
	float:left ;
	width: 79%;
	margin-left: 5px;
	text-align: center;
	min-height:380px;
	color:#000;
}

.corps{
	float:left;
	width: 100%;
}

.menu{
	float : left;
	min-height:355px;
	margin-left: 3px;
	color:#222222;
	font-size:15px;
}

.menu_gauche {
  float: left;
}

.titreMenu{
  font-size: 130%;
  padding: 8px 16px;
  font-weight: bold;
  font-family: Calibri;
  cursor: default;
}


.menu_droite {
  font-size: 130%;
  padding: 8px 16px;
  font-weight: bold;
  font-family: Calibri;
  cursor: default;
  float: right;
  border: 1px solid black;
}
.menu_droite ul {
  font-size: 90%;
  padding: 8px 16px;
  font-weight: normal;
  text-align: left;
}

.menu_droite li li {
   max-height:0;
   overflow: hidden;
   transition: all .2s;
   margin:0
}

.menu_droite a {
  display:block;
  padding: 8px 0;
}

.menu_droite li:hover li {
  max-height: 15em;
}

.espace_creation{
  float: left;
  padding: 1%;
  margin: 2%;
  border: 1px solid black;
  width: 62%;
}

.menu_parametrage{
  border: 1px solid black;
  padding: 1%;
  float: left;
  width: 27%;
}

.page_creation{
  border: 1px solid black;
  padding: 1%;
  float: right;
  width: 67%;
}

.titre_parametrage {
  border : 1px solid black;
  padding: 1%;
}

.titre_parametrage h4{
  display: inline;
}

.menu_parametrage{
  visibility: hidden;
}

.bouttonValiderSujet{
  width: 100%;
    margin-top: 4%;
}
